.formSection {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
  }
  
  .formSection h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .formSection label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #34495e;
  }
  
  .formSection input,
  .formSection textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .formSection button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .formSection button:hover {
    background-color: #2980b9;
  }
  
  .formSection ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }
  
  .formSection li {
    margin-bottom: 5px;
  }