
:root {
  --light-bg: #ffffff;
  --light-text: #333333;
  --dark-bg: #333333;
  --dark-text: #8e44ad;
}


body.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}


.appContainer {
  width: 100%;
  margin: 0;
  padding: 0;
}


.content {
  padding: 20px;
  max-width: 800px; 
  margin: 0 auto;
}
